<launch>

    <!-- Arguments -->
    <!-- Start the GUIs -->
    <arg name="start_gazebo" default="true"/>
    <arg name="gazebo_gui"   default ="true"/>
    <arg name="start_rviz" default="true"/>
    
    <!-- Initial position in Gazebo -->
    <arg name="x0" default="0"/>
    <arg name="y0" default="0"/>
    <arg name="z0" default="0"/>

    <!-- Arm and gripper type -->
    <arg name="arm" default="gen3"/>
    <arg name="dof" default="7" /> 
    <arg name="vision" default="true"/> 
    <arg name="gripper" default="" />
    <arg name="robot_name" default="glovebox_left"/>

    <!-- Use trajectory controllers and MoveIt -->
    <arg name="use_trajectory_controller" default="true"/>

    <!-- Gazebo parameters -->
    <arg name="use_sim_time" default="true"/>
    <arg name="debug" default="false" />
    <arg name="paused" default="$(arg use_trajectory_controller)"/>
    
    <!-- Delay before homing the arm -->
    <arg name="start_delay_seconds" default="60"/>
    

    <!-- Adding the Robots -->

    <group ns="$(arg robot_name)">	

        <!-- Start the controllers -->

        <!-- The trajectory controller -->
        <group if="$(arg use_trajectory_controller)">
        
            <!-- Without gripper -->
            <node name="$(arg arm)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
                output="screen" args="$(arg arm)_joint_trajectory_controller joint_state_controller"
                if="$(eval not arg('gripper'))"/>

            <!-- With gripper -->
            <node name="$(arg arm)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
                output="screen" args="$(arg arm)_joint_trajectory_controller joint_state_controller $(arg gripper)_gripper_controller"
                unless="$(eval not arg('gripper'))"/>

        </group>

        <!-- Without the trajectory controller (individual controllers) -->
        <group unless="$(arg use_trajectory_controller)">

            <!-- Without gripper -->
            <node name="$(arg arm)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" if="$(eval not arg('gripper'))"
                output="screen" args="joint_1_position_controller
                                      joint_2_position_controller
                                      joint_3_position_controller
                                      joint_4_position_controller
                                      joint_5_position_controller
                                      joint_6_position_controller
                                      joint_7_position_controller
                                      joint_state_controller" />
            
            <!-- With gripper -->
            <node name="$(arg arm)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
                output="screen" args="$(arg arm)_joint_trajectory_controller joint_state_controller $(arg gripper)_gripper_controller"
                unless="$(eval not arg('gripper'))"/>

        </group>

        <!-- Start robot state publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" />


    </group>

</launch>
